    <div class="footer">
      <div class="footer-container">
      </div>
      <div class="postscript"> © Fostr.life 2017 - Suma tu pieza, escribe a hola@basico.io - WP(+56 9) 98215973</div>
    </div>
    
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery.flot.js"></script>
    <script src="/js/jquery.flot.time.js"></script>
    <script src="/js/jquery.isotope.js"></script>
    <script src="/js/jquery.pin.js"></script>
    <script src="/js/jquery.matchHeight.js"></script>
    <script src="/js/share.js"></script>
    <script src="/js/all.js"></script>
    <script src="/app.js"></script>
  </body>
</html>
