<header class="header absolute">
	<div class="container">
		<div class="flex-row middle between">
			<div class="flex-col">
				<div class="logotype">
				<a href="/"><img src="/images/trafkin__logotype.png" alt=""></a></div>
			</div>
			<div class="flex-col">

				<ul class="menu-trigger">
					<li>
						<div class="button-menu about-us">
							<span class="label">Qué es Trafkin</span>
						</div>
					</li>
					<li>
						<div class="button-menu menu-open">
							<span class="label">Proyectos</span>
						</div>
					</li>
					<li>
						<div class="button-menu menu-close">
							<span class="label">Cerrar</span>
						</div>
					</li>
				</ul>

			</div>
		</div>
	</div>
</header>
<div class="menu hide">
	<header class="header absolute">
		<div class="container">
			<div class="flex-row middle between">
				<div class="flex-col">
					<div class="logotype"><img src="/images/trafkin__logotype.png" alt=""></div>
				</div>
				<div class="flex-col">
					<ul class="menu-trigger">
						<li>
							<div class="button-menu menu-close"><div class="i"><span class="label">Cerrar</span></div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</header>


	<div class="container">
		<div class="flex-row center middle">
			<div class="flex-col col-6">
				<ul>
					<li><a href="#">List</a></li>
					<li><a href="#">List</a></li>
					<li><a href="#">List</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>