{{ partial "head" . }}
<div class="main landing">
ListaLists | Everithing Lists
<section>
	<div class="welcome">
		<h1>Conoce nuevos emprendimientos sociales</h1>
		<h3 class="display-4"><strong>Trafkin</strong> es una lista de emprendimientos que hacen del mundo un lugar mejor</h3>
		<div class="homeForm">
			<h5>Suscríbete para recibir nuestro boletín con los mejores emprendimientos de la semana.</h5> 

		<div id="mc_embed_signup">
		<form action="//trafk.us15.list-manage.com/subscribe/post?u=2db3e5c9c4162ddc99427b8e6&amp;id=c9608b0910" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate=""><div id="mc_embed_signup_scroll"><div class="mc-field-group"><input type="email" placeholder="email@site.me" value="" name="EMAIL" class="required email" id="mce-EMAIL"></div><div id="mce-responses" class="clear"><div class="response" id="mce-error-response" style="display:none"></div><div class="response" id="mce-success-response" style="display:none"></div></div><div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_2db3e5c9c4162ddc99427b8e6_c9608b0910" tabindex="-1" value=""></div><div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-highlight"></div></div></form></div>

		</div>
	</div>
</section>

<div class="news-view view">
		
	<ul class="news-list" >
				<li class="news-item">
					<div class="news-item-inner">
						<a href="#" target="blank"  class="thumb">
							<div class="thumb-image" style="background-image: url('');"></div>
						</a> 
						<div class="news-item-content">
							<span class="title">
								<a href="">Trafk.in</a> <span class="host hide"></span>
							</span>
							<a href="#" class="headline">Emprendimientos que hacen del mundo un lugar mejor</a>

							<span class="meta">
								<span class="dimension"><span>MVP</span></span> 
							</span>

						</div>
					</div>
	</ul>
</div>


</div>
{{ partial "footer" . }}
