{{ partial "head" . }}
	<div class="main">
		<div class="sheet">

			<h1>{{ .Title }}</h1>
			<div class="links">
			<div class="headline">{{ .Params.projectheadline }}</div>
			<a class="btn go-site" href="{{ .Params.projectsite }}/?utm_source=trafkin" target="blank" >Ver Sitio</a>
			</div>

			<div class="media">
				<div class="media-wrapper">
					<div class="hide media-item">
						<img class="single-thumb" src="https://listalists.com/images/uploads/{{ .Params.projectthumb }}" alt="">
					</div>
					<div class="media-item">
						<div class="project-video">{{ .Params.projectvideo }}</div>
					</div>
				</div>
			</div>

			<p class="project-description">{{ .Params.description }}</p>
			<ul class="taxonomy">
				<li class="category"><b>Categoría</b> {{ .Params.projectcategory }}</li>
				<li class="tags"><b>Conceptos</b> {{ .Params.projecttags }}</li>
			</ul>
			<ul class="meta">
				<li class="meta-unit"><b>Status</b> {{ .Params.typeofcms }}</li>
				<li class="meta-unit"><b>País</b> {{ .Params.projectcountry }}</li>
				<li class="meta-unit"><b>Creador</b><a href="https://twitter.com/{{ .Params.projectcreator }}" target="blank">@{{ .Params.projectcreator }}</a></li>
				<li class="meta-unit"><b>País</b> {{ .Params.projectemail }}</li>
			</ul>
{{ .Content }}
		</div>
	</div>
{{ partial "footer" . }}
