backend:
  name: github
  repo:  gustavoespindola/trafkin # Path to your Github repository
  branch: master # Branch to update (master by default)

media_folder: "img/uploads" # Folder where user uploaded files should go

publish_mode: editorial_workflow

collections: # A list of collections the CMS should be able to edit
  - name: "projects" # Used in routes, ie.: /admin/collections/:slug/edit
    label: "Projects" # Used in the UI, ie.: "New Post"
    folder: "site/content/projects" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    fields: # The fields each document in this collection have
      - {label: "Name", name: "title", widget: "string"}
      - {label: "Type", name: "projecttype", widget: "string"}
      - {label: "Headline", name: "projectheadline", widget: "string"}
      - {label: "Project url", name: "projectsite", widget: "string"}
      - {label: "Description", name: "description", widget: "markdown"}
      - {label: "Thumbnail", name: "projectthumb", widget: "string"}
      - {label: "Video", name: "projectvideo", widget: "string"}
      - {label: "Category", name: "projectcategory", widget: "string"}
      - {label: "Tags", name: "projecttags", widget: "string"}
      - {label: "Creator", name: "projectcreator", widget: "string"}
      - {label: "Country", name: "projectcountry", widget: "string"}
      - {label: "Contact Email", name: "projectemail", widget: "string"}
      - {label: "Linkedin user", name: "projectlinkedin", widget: "string"}
      - {label: "Status", name: "typeofcms", widget: "string"}
  - name: "pages"
    label: "Pages"
    folder: "site/content/pages" # The path to the folder where the documents are stored
    fields: # The fields each document in this collection have
      - {label: "Title", name: "title", widget: "string"}
      - {label: "URL", name: "url", widget: "string"}
      - {label: "Layout", name: "layout", widget: "string"}
      - {label: "Body", name: "body", widget: "markdown"}
