{{ partial "head" . }}
<div class="main landing">

<div class="news-view view">
	<ul class="news-list-nav">

		<li data-filter="*">Todos <div class="filter-count"></div></li>
		<li data-filter=".administracion">administración <div class="filter-count"></div></li>
		<li data-filter=".agricultura">agricultura <div class="filter-count"></div></li>
		<li data-filter=".alimentacion">alimentación <div class="filter-count"></div></li>
		<li data-filter=".comercial">comercial <div class="filter-count"></div></li>
		<li data-filter=".comunicaciones">comunicaciones <div class="filter-count"></div></li>
		<li data-filter=".consultoria">consultoría <div class="filter-count"></div></li>
		<li data-filter=".deporte">deporte <div class="filter-count"></div></li>
		<li data-filter=".derechos-humanos">derechos-humanos <div class="filter-count"></div></li>
		<li data-filter=".desarrollo-social">desarrollo-social <div class="filter-count"></div></li>
		<li data-filter=".economia-y-finanza">economía-y-finanza <div class="filter-count"></div></li>
		<li data-filter=".educacion">educación <div class="filter-count"></div></li>
		<li data-filter=".empleabilidad">empleabilidad <div class="filter-count"></div></li>
		<li data-filter=".energia">energía <div class="filter-count"></div></li>
		<li data-filter=".forestal">forestal <div class="filter-count"></div></li>
		<li data-filter=".ganadero">ganadero <div class="filter-count"></div></li>
		<li data-filter=".generacion-e-intercambio-de-informacion">generación-e-intercambio-de-información <div class="filter-count"></div></li>
		<li data-filter=".habitabilidad">habitabilidad <div class="filter-count"></div></li>
		<li data-filter=".inclusion">inclusión <div class="filter-count"></div></li>
		<li data-filter=".industria">industria <div class="filter-count"></div></li>
		<li data-filter=".innovación">innovación <div class="filter-count"></div></li>
		<li data-filter=".investigacion-y-desarrollo">investigación-y-desarrollo <div class="filter-count"></div></li>
		<li data-filter=".justicia">justicia <div class="filter-count"></div></li>
		<li data-filter=".juventud-e-infancia">juventud-e-infancia <div class="filter-count"></div></li>
		<li data-filter=".migracion">migración <div class="filter-count"></div></li>
		<li data-filter=".mineria">minería <div class="filter-count"></div></li>
		<li data-filter=".otras-actividades-intelectuales">otras-actividades-intelectuales <div class="filter-count"></div></li>
		<li data-filter=".pesca">pesca <div class="filter-count"></div></li>
		<li data-filter=".planificacion">planificación <div class="filter-count"></div></li>
		<li data-filter=".salud">salud <div class="filter-count"></div></li>
		<li data-filter=".sanidad">sanidad <div class="filter-count"></div></li>
		<li data-filter=".servicios-basicos">servicios-básicos <div class="filter-count"></div></li>
		<li data-filter=".sustentabilidad">sustentabilidad <div class="filter-count"></div></li>
		<li data-filter=".tecnologia">tecnología <div class="filter-count"></div></li>
		<li data-filter=".transporte">transporte <div class="filter-count"></div></li>
		<li data-filter=".turismo">turismo <div class="filter-count"></div></li>
		</ul>


	<div class="hide filters">
		<div class="ui-group">
			<div class="button-group js-radio-button-group" data-filter-group="color">
		
				<button class="button is-checked" data-filter="">Todos </button>

				<button class="button" data-filter=".educacion">educacion <span class="filter-count"></span></button>
				
				<button class="button" data-filter=".sanidad">sanidad <span class="filter-count"></span></button>

			</div>
		</div>
	</div>


		<!-- {{ if .Params.projectthumb }}{{ end }} -->
	<ul class="news-list">
		{{ range $index, $id := where .Site.Pages.ByTitle "Section" "projects" }}
			{{ if ne .Title "Projects" }}
			<li class="news-item {{ .Params.projectcategory | urlize }}">
				<div class="news-item-inner">
						<a href="{{ .Permalink }}" class="thumb">
							<div class="thumb-image" style="background-image: url('images/uploads/{{ .Params.projectthumb }}');"></div>
						</a> 
						<div class="news-item-content">
							<span class="title">
								<a href="{{ .Permalink }}" >{{ .Title }}</a> 
								<span class="hide host">(blog.nothinguntoward.eu)</span>
							</span>
							<a href="{{ .Permalink }}" class="headline">{{ .Params.projectheadline }}</a>
							<span class="meta">
								<span class="dimension"><a  href="#">{{ .Params.projectcategory }}</a></span> 
								<!-- {{ range .Params.category }}{{ . }}{{ end }} -->
								<span class="hide by">by&#32;<a class="" href="/user/alecjw">alecjw</a></span> 
								<span class="hide time" class="hide">1 hour ago</span> 
								<span class="likes-link"><a class="" href="/item/14743039">11 Likes</a></span>
								<span class="comments-link"><a class="" href="/item/14743039">11 Comments</a></span>
							</span>
						</div>
				</div>
			</li>
			{{ end }}
		{{ end }}

	</ul>
</div>

<div class="loader">
	<div class="kabobloader">
		<div class="bounce1"></div>
		<div class="bounce2"></div>
		<div class="bounce3"></div>
	</div>
</div>

{{ partial "footer" . }}
