{{ partial "head" . }}
<div class="main landing">

<div class="news-view view">
	<div class="hide news-list-nav">
		<a class="disabled">&lt; prev</a><span>1/21</span><a class="" href="/top/2">more &gt;</a>
	</div>
	<div class="news-list">
		<ul>
		{{ range $index, $id := where .Site.Pages.ByTitle "Section" "projects" }}
			{{ if ne .Title "Projects" }}
			<li class="news-item {{ .Title | urlize }}">
				<div class="news-item-inner">
						<div class="thumb">
							<div class="thumb-image">
<!-- 							{{ if .Params.images }}
								<img class="photos-inside" src="/images/photos.svg">
							{{ end }} -->
							</div>
						</div>
						<div class="news-item-content">
							<span class="title">
								<a href="{{ .Permalink }}" >{{ .Title }}</a> 
								<span class="hide host">(blog.nothinguntoward.eu)</span>
							</span>
							<a href="{{ .Permalink }}" class="headline">{{ .Params.description }}</a>
							<span class="meta">
								<span class="dimension">{{ range .Params.projectcategory }}{{ . }}{{ end }}<a class="hide" href="#">Educación</a></span> 
								<span class="hide by">by&#32;<a class="" href="/user/alecjw">alecjw</a></span> 
								<span class="hide time" class="hide">1 hour ago</span> 
								<span class="likes-link"><a class="" href="/item/14743039">11 Likes</a></span>
								<span class="comments-link"><a class="" href="/item/14743039">11 Comments</a></span>
							</span>
						</div>
				</div>
			</li>
			{{ end }}
			{{ end }}

		</ul>
	</div>
</div>

<div class="loader">
	<div class="kabobloader">
		<div class="bounce1"></div>
		<div class="bounce2"></div>
		<div class="bounce3"></div>
	</div>
</div>

{{ partial "footer" . }}
